@media only screen and (max-width: 767px) {
    #about-us-and-picture {
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: 100%;
    }

    #about-us-and-picture > img {
        max-width: 300px;
        border-radius: 20%;
        border: 3px solid #4d3e17;
        margin-left: 20px;
    }

    #about-us {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 95%;
        margin-left: 20px;
        margin-right: 20px;
        background: linear-gradient(rgba(255, 255, 255, 7), rgba(255, 255, 255, 0.5));
        backdrop-filter: blur(12px);
        padding: 10px;
        border-radius: 15px;
    }
}

@media only screen and (min-width: 768px) {
    /* This is for large screens */
    #about-us-and-picture {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100%;
    }

    #about-us-and-picture > img {
        max-width: 300px;
        border-radius: 20%;
        border: 3px solid #4d3e17;
        margin-left: 20px;
    }

    #about-us {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 1000px;
        margin-left: 20px;
        margin-right: 20px;
        background: linear-gradient(rgba(255, 255, 255, 7), rgba(255, 255, 255, 0.5));
        backdrop-filter: blur(12px);
        border-radius: 15px;
        padding: 30px;
    }

    #om-oss {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

