#album-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 20px;
}

#slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

#slider-title {
    background-color: rgb(112, 80, 10);
    padding: 15px;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#slider {
    overflow: hidden;
    max-width: 1000px;
    border-radius: 15px;
    border: 3px solid rgb(112, 80, 10);
    height: 400px;
}

@media only screen and (max-width: 768px) {
    #slider {
        height: 200px;
        max-width: 500px;
    }
}

#slider figure img {
    float: left;
    width: 16.6%;
    height: 100%;
}

#slider figure {
    position: relative;
    width: 600%;
    height: 100%;
    margin: 0;
    left: 0;
    animation: 22.5s slider infinite;
}

#gallery-intro-and-picture {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    background: linear-gradient(rgba(211, 233, 18, 0.8), rgba(211, 233, 18, 0.5));
    backdrop-filter: blur(25px);
}

#gallery-intro {
    margin-left: 30px;
    margin-right: 30px;
    padding: 30px;
    background-size: 100% 100%;
    border-radius: 15px;
    z-index: 2;
    position: relative;
    color: black;
}

#gallery-intro-and-picture > img {
    display: none;
}

video {
    margin-top: 20px;
}

@media only screen and (max-width: 400px) {
    #gallery-intro-and-picture {
        flex-direction: column;
    }

    video {
        width: 95%;
    }
}

@media only screen and (max-width: 610px) and (min-width: 401px) {
    #gallery-intro-and-picture {
        flex-direction: column;
    }

    video {
        width: 400px;
    }
}

@media only screen and (min-width: 611px)
{
    video {
        max-width: 500px;
        max-height: 500px;
        margin-top: 20px;
    }
}

@keyframes slider {
    /* FIRST PIC */
    0% {
        left: 0;
    }

    18% {
        left: 0;
    }

    /* 2ND PIC */
    20% {
        left: -100%;
    }

    38% {
        left: -100%;
    }

    /* 3RD PIC */
    40% {
        left: -200%;
    }

    58% {
        left: -200%;
    }

    /* 4TH PIC */
    60% {
        left: -300%;
    }

    78% {
        left: -300%;
    }

    /* 5TH PIC */
    80% {
        left: -400%;
    }

    98% {
        left: -400%;
    }

    /* 6TH PIC/SAME AS FIRST */
    100% {
        left: -500%;
    }
}