
#contact-us-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto !important;
    width: 100%;
    margin-top: 20px;
}

@media only screen and (min-width: 769px) {
    #contact-us-form-wrapper-pc {
        width: 300px;
        border-radius: 15px;
        height: 500px;
        background-color: white;
        border-left: 3px solid black;
        border-right: 3px solid black;
        border-top: 15px solid black;
        border-bottom: 15px solid black;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: black;
        padding: 20px;
    }
}

@media only screen and (max-width: 768px) {
    #contact-us-form-wrapper-mobile {
        width: 300px;
        border-radius: 15px;
        height: 500px;
        background-color: white;
        border-left: 3px solid black;
        border-right: 3px solid black;
        border-top: 15px solid black;
        border-bottom: 15px solid black;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: black;
        padding: 20px;
        text-align: center;
    }
}