#footer {
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    color: black;
    border-top: 2px solid black;
}

@media screen and (min-width: 768px) {
    #contact-container, #reference-container {
        margin-right: 20px;
        border-right: 2px solid white;
    }
}


@media screen and (max-width: 767px) {
    #contact-container, #reference-container {
        margin-bottom: 20px;
        border-bottom: 2px solid white;
    }
}
