#showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-left: 20px;
    padding-right: 20px;
}


@media only screen and (min-width: 768px) and (max-width: 1441px){
    html {
        background-image: url("/images/tiera-medium.jpg");
    }
}

@media only screen and (min-width: 1442px) {
    html {
        background-image: url("/images/tiera-medium.jpg");
    }
}

@media only screen and (max-width: 767px) {
    html {
        background-image: url("/images/tiera-small.jpg");        
    }
}

/* COSMIC BUBBLE */

.bubble {
    position: relative;
    width: auto;
    height: auto;
    background: #32557f;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;

    max-width: 1000px;
    background: linear-gradient(rgba(255, 255, 255, 7), rgba(255, 255, 255, 0.5));
    backdrop-filter: blur(12px);
}

.bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 13px solid transparent;
    border-top-color: white;
    border-bottom: 0;
    margin-left: -13px;
    margin-bottom: -13px;
}

.bubble > p {
    font-size: 1.2rem;
    font-weight: bold;
}
.bubble > ul {
    margin-left: 20px;
    margin-right: 20px;
}

/* construction worker image */
#showcase > img {
    height: 200px;
    margin-top: 20px;
}

/* Showcase list (grund, transport, tillverkning) */
#showcase-list {
    margin-top: 20px;
    max-width: 1000px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.showcase-list-item > img {
    max-width: 100px;
}

.showcase-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;

    padding: 20px;
    border: 3px solid #4d3e17;
    border-radius: 30%;
    background-color: rgba(95, 87, 15, 0.39);
}

@media only screen and (max-width: 510px) {
    .showcase-list-item > img {
        max-width: 50px;
    }

    #showcase-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .showcase-list-item {
        width: 100%;
        padding: 10px;
    }
}

@media only screen and (max-width: 450px) {
    /* construction worker image */
    #showcase > img {
        height: 100px;
        width: auto;
        margin-top: 20px;
    }
}

/* ==================================================== */
/*          + Welcome text +                            */
/* ==================================================== */

#welcome-text {
    color: white;
    text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

@media only screen and (max-width: 340px) {
    #welcome-text {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 341px) and (max-width: 768px) {
    #welcome-text {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 769px) {
    #welcome-text {
        font-size: 5rem;
    }
}
