@import "/css/aboutUs.css";
@import "/css/landing.css";
@import "/css/classes.css";
@import "/css/album.css";
@import "/css/footer.css";
@import "/css/contactUs.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Background is a separate element to fix mobile scrolling problem*/
html {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}

html, body {
    width: 100%;
    height: 100%;
}
html {
    overflow: hidden;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;
    color: #926239;
    line-height: 1.6;
}

#wrapper {
    position: absolute;
    top: 0.5px;
    left: 0;
    right: 0;
    bottom: 0.5px;
    overflow-x: hidden; /* or any other value */
    overflow-y: auto; /* or any other value */
}